{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit user</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_task', user_id=user.id) }}">
        <!-- First name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="user_fname" name="user_fname" value="{{ user.user_fname }}" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="user_fname">First Name</label>
            </div>
        </div>
        <!-- First name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="user_lname" name="user_lname" value="{{ user.user_lname }}" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="user_lname">Last Name</label>
            </div>
        </div>
        <!-- Date of Birth -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="dob" name="dob" type="text" value="{{ user.dob.strftime('%d %B %Y') }}" class="datepicker validate" required>
                <label for="dob">Date of Birth</label>
            </div>
        </div>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                <input id="user_email" name="user_email" value="{{ user.user_email }}" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="user_email">Email Address</label>
            </div>
        </div>
        <!-- Gender -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select name="gender" id="gender" class="validate" required>
                    <option value="{{ user.gender }}" disabled>{{ user.gender }}</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="pnts">Prefer Not to Say</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <!-- Profession -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-briefcase prefix light-blue-text text-darken-4"></i>
                <input id="profession" name="profession" value="{{ user.profession }}" minlength="5" maxlength="100" type="text" class="validate">
                <label for="profession">Profession</label>
            </div>
        </div>
        <!-- is urgent -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-check-circle prefix light-green-text text-darken-4"></i>
                    <label for="in_house">
                        {% if user.in_house == True %}
                            <input id="in_house" name="in_house" type="checkbox" checked>
                        {% else %}
                            <input id="in_house" name="in_house" type="checkbox">
                        {% endif %}
                        <span class="lever"></span>
                        Currently has work In House
                    </label>
                </div>
            </div>
        </div>
        <!-- category_id -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select name="category_id" id="category_id" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                        {% if category == task.category %}
                            <option value="{{ category.id }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_id">Category</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Update Records<i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}